.LinkRenderer, .LinkRenderer:hover, .LinkRenderer:visited, .LinkRenderer:active, .LinkRenderer:focus{
    color: #00b0f4
}

.GuildedText-container-color-gilded1{
    color: #00b0f4;
}

.OpenGraphEmbed-content{
    overflow: hidden;
    padding: 0.5rem 1rem 1rem 0.75rem;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
}

.ChannelWrapper-container{
    background-color: #36393f;
}

.TeamNavMenu-container{
    background-color: #2f3136;
}

.ScreenHeader-container{
    background: #36393f;
}

.SidebarInfoItem-container{
    background-color: #2f3136;
}

.SidebarWrapper-container{
    background: #2f3136;
}

.ChatChannelInput-container .ChatChannelInput-editor{
    background: #40444b;
}

.ParagraphRenderer{
    color: #dcddde;
}

.TeamNavHeaderRowButton-container{
    background-color: #18191c;
}

.FormConfirmButtonV2-container.FormConfirmButtonV2-container-type-gilded{
    background-image: linear-gradient(to right, #5865f2, #5865f2, #5865f2);
    box-shadow: 0 0 0 0;
    border: 0px;
}

.FormConfirmButtonV2-container-desktop.FormConfirmButtonV2-container-filled:hover{
    box-shadow: 0 0 0 0;
}

.CopyableTextbox-container{
    border: 0px;
    background-color: #202225;
}

.ModalV2-container{
    background-color: #36393f;
    border: 0px;
}

.ModalHeaderV2-container{
    background-color: #36393f;
}

.GuildedSelect-container .Select-control{
    border: 0px !important;
}

.GuildedSelect-container.GuildedSelect-container-dark .Select.is-focused .Select-value{
    border: 0px;
}

.FormConfirmButtonV2-container.FormConfirmButtonV2-container-filled.FormConfirmButtonV2-container-type-delete{
    background-color: #d83c3f;
}

.TransientMenu-container-style-default{
    background-color: #18191c;
    --bg-color: #18191c;
}

.ChatMessageThread-container{
    background-color: #2f3136;
}

.QuickActionBar-container{
    background: #2C2F33;
    border: 0px;
}

.UserBadge-container{
    border-radius: 3px;
}

.GroupSelector-container{
    background-color: #2f3136;
}

.GroupList-add-group{
    --inline-add-icon-background-color: #36393f;
}

.ChannelWrapper-container{
    background: #36393f;
}

.Navbar-container{
    background-color:#2f3136;
}

.OptionsMenuPageWrapper-container{
    background: #36393f;
}

.DefaultReadonlyEditableForm-container{
    background-color: #202225;
}

.FormConfirmButtonV2-container.FormConfirmButtonV2-container-type-bleached{
    background-color: #686d73;
    border: 0px;
}

.OptionsMenu-container-desktop .OptionsMenu-options-control{
    background-color: #2f3136;
}

::-webkit-scrollbar{
    width: 2px;
}

.SocialLinkPanel-header{
    background: #36393f;
}

.CheckboxPanel-container{
    background-color: #202225;
}

.FormSection-container-section-background-inset{
    background-color: #202225;
}

.RadioOptionPanel-container-selected{
    background: #202225;
}

.RadioOptionPanel-container{
    background: #202225;
}

.ChannelActivityDisplay-items{
    background-color: #2f3136;
}

.ChannelActivityDisplayHeader-container{
    background-color: #202225;
}

.ChannelActivityDisplay-group-header{
    background-color: #2f3136;
}

.ChannelActivityDisplay-item{
    background-color: #36393f;
}

.WebAppSidebarMenu-container{
    background-color: #2f3136;
}

.MyTeamsPage-container{
    background-color: #2f3136;
}

.ScrimFinderUpsellScreen-content{
    background-color: #36393f;
}

.PlayerLfgPortal-menu{
    background-color: #36393f;
}

.ExplorePage-content{
    background-color: #40444b;
}

.WebAppSidebar-portal{
    background-color: #2f3136;
}

.NavV4SectionSidebar-container{
    background-color: #2f3136;
}

.ScreenHeader-container{
    background-color: #40444b;
}

.TournamentsPortalPage-sections{
    background-color: #40444b;
}

.NavV4TeamSelector-container{
    background-color:#202225;
}

.NavV4Footer-right{
    background-color: #202225;
}

.NavV4Footer-menu-icon{
    background-color: #202225;
    height: 7.50vh;
}

.PostReplyQuoteButtons-option, .PostReplyQuoteButtons-option:hover, .PostReplyQuoteButtons-option:visited, .PostReplyQuoteButtons-option:active, .PostReplyQuoteButtons-option:focus{
    color: #00b0f4;
}

.UserSettingsEmailPage-select-button, .UserSettingsEmailPage-select-button:hover, .UserSettingsEmailPage-select-button:visited, .UserSettingsEmailPage-select-button:active, .UserSettingsEmailPage-select-button:focus{
    color: #00b0f4;
}

.CheckboxV2-box{
    background: #3ba55d;
}

.RouteLink-linkify, .RouteLink-linkify:hover, .RouteLink-linkify:visited, .RouteLink-linkify:active, .RouteLink-linkify:focus{
    color: #00b0f4;
}

.ItemManagerColumnHeader-container-sortable.ItemManagerColumnHeader-active{
    color: #00b0f4;
}

.ItemManagerColumnHeader-container-sortable.ItemManagerColumnHeader-active .ItemManagerColumnHeader-icon{
    fill: #00b0f4;
}

.WindowsTitleBar-container{
    background: #202225;
}
